<!DOCTYPE html>
<html>
    <head>
        <title>DropBox</title>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="container">
            <div class="wrap">
                <div class="title">
                    <h1>DropBox</h1>
                </div>
                <div id="content">
                    <h2>Bienvenido</h2>
                    <p><a href="/registrarse">Registrarse</a></p>
                    <p></p><a href="/login">Iniciar Sesion</a></p>
                </div>
            </div>
        </div>
    </body>
</html>